<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <button id="of">Open_Form</button>
<div id="form" style="height: 300px; width: 200px; display: none;">
    <p>Enter Your Name:</p>
    <input id="name" type="text">
    <br>
    <br>
    <button id="sname">submit</button>
    <h3 id="text">
        you Have to Give permission for share your location
    </h3>
</div>
<h1 id="content"></h1>








    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr76S3a-BjlCFhBPOmFw9jaxPUQyQuN5o&callback=initMap"></script>

    <script src="js/script.js"></script>

</body>
</html>